.row {
    offset-top: 0px;
    margin: 10px;
    vertical-align: middle;
}

.banniere {
    line-height: 224px;
    text-align: center;
    font-size: 50px;
    background-color: #5c6bc0;
}

.pie {
    width: 400px;
    height: 400px;
}
