.row {
    offset-top: 0px;
    margin: 10px;
    vertical-align: middle;
}

.banniere {
    text-align: center;
    font-size: 50px;
    background-color: #5c6bc0;
    color: #ffffff;
    text-shadow: 1px 1px;
}

.pie {
    border: solid #5c6bc0 2px;
    border-radius: 0 0 10px 10px;
    background-color: #e8eaf6;
}

.list {
    border: solid #5c6bc0 2px;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Title {
    font-size: 20px;
    text-align: center;
    color: #3f51b5;
    text-shadow: 1px 1px;
}
