<container>
    <div id="test">
        <div class="row">
            <div class="entete">
                <div class="col-md-2">
                    <div class="banniere">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="center">Baltimore City Police Arrests Reports</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <a href='#/List'>Find Stuff</a><br/>
        <a href='#/Stat'>Find Stats</a><br/>
    </div>
</container>
