<span class="container">
            <div class="banniere">
				<img src="Vendors/Images/BaltiBlason.png" style="width:224px;height:224px;">
                Baltimore City Police Arrests Reports
            </div>

    <div class="row">
        <a href='#/List'>Find Stuff</a><br/>
    </div>
    <div class="row">
        //emplacement pour camembert
        <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"
        chart-options="options"></canvas
    </div>
</span>
