<html ng-app="BPD2" xmlns="http://www.w3.org/1999/xhtml">
    <head>
	    <link rel="stylesheet" href="/../Vendors/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="/../css/main.css">

        <script type="text/javascript" src="/../Vendors/angular/angular.js"></script>
        <script type="text/javascript" src="/../Vendors/angular/angular-route.js"></script>
        <script type="text/javascript" src="/../js/list.js"></script>
    </head>
	
    <body ng-controller="BaltiController as balti">
	<a href='#/Home'>&lt;&lt; Return</a><br/>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div ng-repeat="arrest in balti.arrests" class="line">
                        <div ng-show="arrest.chargedescription === 'FAILURE TO APPEAR'">
                            <h1>{{arrest.chargedescription}}</h1>
                            <h2>{{arrest.age}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
	</html>